@import url("https://fonts.googleapis.com/css2?family=Brygada+1918&family=Nanum+Gothic:wght@400;800&family=Noto+Sans+JP:wght@500;700;900&family=Reggae+One&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: serif;
  min-height: 200vh;
  overflow-x: hidden;
  background-color: rgb(235, 251, 255);
}

#mask {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(240, 238, 238, 0.9);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}

#mask.active {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

header {
  height: 400px;
}

.background {
  background: url(./img/back.png) center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  /* filter: brightness(.9); */
}

h1 {
  width: 100%;
  height: 40%;
  color: rgb(252, 88, 88);
  background-color: #fff;
  animation: title 1.2s;
  position: absolute;
  top: 70%;
  font-size: 30px;
  padding: 10px 5px;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes title {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: none;
  }
}

.bottomBar {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(231, 78, 78);
  z-index: 2;
}

#menuButton {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  z-index: 5;
  border-radius: 7px;
}

#menuButton div {
  display: block;
  height: 2px;
  width: 50%;
  background-color: #333;
  position: absolute;
  top: 49%;
  left: 25%;
  transition: 0.3s;
}

#menuButton div:nth-of-type(1) {
  transform: translateY(-15px);
}

#menuButton div:nth-of-type(3) {
  transform: translateY(15px);
}

#menuButton.active div:nth-of-type(1) {
  transform: rotate(45deg);
  background-color: #fff;
  z-index: 2;
  transition: 2s;
}

#menuButton.active div:nth-of-type(2) {
  transform: scale(2.1, 30.5);
  background-color: rgb(231, 78, 78);
  transition: 1s;
}

#menuButton.active div:nth-of-type(3) {
  transform: rotate(-45deg);
  background-color: #fff;
  transition: 2s;
}

#topMenu {
  width: 100%;
  position: absolute;
  left: 0;
  padding: 15px 0px;
}

#topMenu ul {
  display: flex;
  padding: 0;
}

#topMenu li {
  width: 33.3%;
  text-align: center;
}

#topMenu a {
  font-size: 15px;
  color: rgb(255, 255, 255);
}

/* #topBar.active #topMenu {
  display: none;
} */

#slideMenu {
  width: 80%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgb(231, 78, 78);
  padding: 150px 0px 0px 40px;
  transform: translateX(100%);
  overflow-y: auto;
  opacity: 0;
  transition: 0.3s;
  z-index: 4;
}

#slideMenu.active {
  opacity: 1;
  transform: none;
  transition: 1s;
}

#slideMenu li {
  margin: 40px 0;
}

#slideMenu a {
  font-size: 30px;
  /* font-style: italic; */
  font-family: serif;
  color: #fff;
}

.content {
  width: 100%;
  min-height: 400vh;
}

.block {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  border-radius: 5px;
}

.block > h2 {
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(221, 83, 83);
}

.box {
  width: 90%;
  min-height: 30vh;
  background-color: rgb(255, 255, 255);
  margin: 30px auto 40px;
}

.box h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  font-family: serif;
  font-weight: bold;
  padding: 20px 10px;
  background-color: rgb(231, 78, 78);
}

.box p {
  display: block;
  width: 90%;
  min-height: 30vh;
  height: auto;
  color: rgb(54, 54, 54);
  margin: 20px auto;
  text-align: justify;
  font-size: 16px;
  padding: 20px 10px;
  border-radius: 5px;
}

.box p strong {
  font-size: 20px;
  color: rgb(231, 78, 78);
  font-weight: bold;
}

.box p a {
  display: block;
  margin-top: 30px;
  color: rgb(94, 79, 16);
  font-weight: bold;
  font-size: 20px;
}

#coming {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: relative;
}

#coming p {
  position: absolute;
  top: 35%;
  left: 35%;
}

@media screen and (min-width: 1000px) {
  header {
    height: 500px;
  }

  .background {
    height: 100%;
  }

  h1 {
    height: 70%;
    top: 40%;
    font-size: 80px;
    padding: 40px 100px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
  }

  @keyframes title {
    0% {
      opacity: 0;
      transform: scale(0);
      font-size: 1px;
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }

  #slideMenu {
    width: 30%;
    top: 0;
  }

  .topBar {
    position: fixed;
    height: 70px;
    top: 0;
  }

  .topBar.active {
    background-color: rgb(90, 14, 14);
    transition: 2s;
    box-shadow: 0px 2px 2px rgb(117, 16, 16);
  }

  #topMenu {
    width: 80%;
  }

  #topMenu a {
    font-size: 25px;
  }

  .box {
    min-height: 100vh;
  }

  .block > h2 {
    font-size: 50px;
    padding: 10px;
    padding-top: 100px;
    margin-top: -100px;
  }

  .box h2 {
    font-size: 40px;
    padding: 5px;
  }

  .box p {
    margin-top: 100px;
    width: 90%;
    min-height: 70vh;
  }
}
